$fontcolor : black;
$backgroundcolor : rgb(229, 237, 239);
$maincolor : rgb(162, 192, 190);
$primarycolor : rgb(210, 226, 225);
$secondarycolor : rgb(128, 170, 168);
$tertiarycolor : rgb(181, 167, 154);
$quaternarycolor : rgb(214, 206, 195);
$errorcolor: rgb(255, 51, 51);
